<p id="notice"><%= notice %></p>

<h1 class="main-header">Pizza Diaries</h1>

<hr>
<p class="blurb">Pizza is important. Make your pizza memories last.</p>
<div class="header">
  <h4>Entries:</h4>
</div>

<div class="entries">
  <% @pizza_diaries.each do |pizza_diary| %>
    <div class="entry-thumb">
      <strong><%= pizza_diary.title %></strong>
      <%= link_to 'View', pizza_diary %>
      <%= link_to 'Edit', edit_pizza_diary_path(pizza_diary) %>
      <%= link_to 'Delete', pizza_diary, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<%= link_to 'New Pizza Diary', new_pizza_diary_path %>
