<p id="notice"><%= notice %></p>

<h1 class="header">Pizza Diaries</h1>

<table>
  <thead>
    <tr class="table-row">
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-body">
    <% @pizza_diaries.each do |pizza_diary| %>
      <tr class="table-row">
        <td><%= pizza_diary.title %></td>
        <td><%= link_to 'View', pizza_diary %></td>
        <td><%= link_to 'Edit', edit_pizza_diary_path(pizza_diary) %></td>
        <td><%= link_to 'Delete', pizza_diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pizza Diary', new_pizza_diary_path %>
